@charset "UTF-8";:root {
  --color-link: #99270B;
  --color-visited-link: #99270B;
  --body-background: #EEEEEE;
  --body-font-color: #0F161C;
  --grey-100: #CBCECF;
  --grey-200: #AFAFAF;
  --grey-300: #585858;
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-link: #E5BE10;
    --color-visited-link: #E5BE10;
    --body-background: #2E3338;
    --body-font-color: #EEEBE7;
    --grey-100: #585858;
    --grey-300: #CBCECF;
  }
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),url(fonts/roboto-v27-latin-regular.woff2)format("woff2"),url(fonts/roboto-v27-latin-regular.woff)format("woff")
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(""),url(fonts/roboto-v27-latin-700.woff2)format("woff2"),url(fonts/roboto-v27-latin-700.woff)format("woff")
}

@font-face {
    font-family: roboto mono;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),url(fonts/roboto-mono-v13-latin-regular.woff2)format("woff2"),url(fonts/roboto-mono-v13-latin-regular.woff)format("woff")
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  color: var(--body-font-color);
  background: var(--body-background);
  letter-spacing: .33px;
  font-family: roboto,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: [nav] 100px [main] auto [footer] 200px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  width: 80%;
  grid-row: main;
}

.top-menu {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  grid-row: nav;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  .logo {
    width: 70px;
    align-self: center;
  }
  h2 {
    align-self: center;
    margin: 0;
    line-break: 0;
  }
  nav {
    align-self: flex-end;
    flex-grow: 2
    ul {
      list-style: none;
      li {
        text-decoration: none;
      }
    }
  }
}

code {
  font-family: roboto mono,monospace;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

:focus {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color
}

.anchor {
  color: var(--grey-100);
}
.anchor:hover {
  color: var(--color-link);
}

